body {
    background-image: url(../../assests/katie_torn.png);
      height: 100vh;
      width: 100vw;
      background-size: cover;
      cursor: url('../../assests/katie_torn_cursor.jpeg'), auto;
}